$font-stack: Space Mono, monospace;
$font-weight-max: 900;

.quiz-summary-question {
  font-family: $font-stack;
  font-size: 14px;
  border: 2px solid #007aff;
  border-radius: 5px;
  background-color: lightgray;
  color: #0f0900;
  margin-bottom: 15px;
  padding: 10px;
}

.trophy, .try-again {
  width: 150px;
  height: 150px;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  text-align: center;
}

mat-icon {
  font-size: larger;
  top: 10px !important;
}

mat-card-actions button {
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  text-align: center;
}

.statistics h3, p {
    text-align: center;
}

.challenge-social {
  a.btn {
    text-decoration: none;
    margin-right: 20px;
    padding: 9px 15px 8px 42px;
    background: no-repeat 10px 5px;
    background-size: 25px 25px;
    color: white;
  }
  a.btn.facebook {
    background-color: #4267b2;
    background-image: url('../../../assets/images/facebook.gif');
  }
  a.btn.twitter {
    background-color: #59adeb;
    background-image: url('../../../assets/images/icon_twitter.svg');
  }
  a.btn.email {
    background-color: #f0a121;
    background-image: url('../../../assets/images/icon_email.svg');
  }
}
