$font-stack: Space Mono, monospace;
$font-weight-max: 900;

section.results {
  img {
    width: 150px;
    height: 150px;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  mat-card-actions button {
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  h3, p, .quiz-summary-link, #quizAccordion {
    text-align: center;
  }
  a {
    text-decoration: none;
  }

  section#quiz-summary {
    display: flex;
    flex-direction: column;

    .quiz-summary-question {
      font-family: $font-stack;
      font-size: 14px;
      border: 2px solid #385d8a;
      border-radius: 5px;
      color: black;
      margin-bottom: 15px;
      padding: 10px;

      span {
        color: #00008b;
        font-weight: $font-weight-max;
      }
    }

    mat-icon {
      font-size: larger;
      top: 10px !important;
    }
    mat-icon.correct {
      color: #006400 !important;
      font-weight: $font-weight-max;
    }
    mat-icon.incorrect {
      color: #ff0000 !important;
      font-weight: $font-weight-max;
    }
  }
}

section.statistics h3, p {
  text-align: center;
}

section.challenge-social {
  text-align: center;

  a.btn {
    text-decoration: none;
    margin-right: 20px;
    padding: 9px 15px 8px 42px;
    background: no-repeat 10px 5px;
    background-size: 25px 25px;
    color: white;
  }
  a.btn.facebook {
    background-color: #4267b2;
    background-image: url('../../../assets/images/facebook.gif');
  }
  a.btn.twitter {
    background-color: #59adeb;
    background-image: url('../../../assets/images/twitter.svg');
  }
  a.btn.email {
    background-color: #f0a121;
    background-image: url('../../../assets/images/email.svg');
  }
}

section.return {
  text-align: center;

  a.btn {
    margin-right: 15px;
    background-color: #20b2aa;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
}
