$font-stack: Space Mono, monospace;
$font-weight-max: 900;

section.quiz-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .quiz-summary-question {
    font-family: $font-stack;
    font-size: 14px;
    border: 2px solid #385d8a;
    border-radius: 5px;
    color: black;
    margin-bottom: 15px;
    padding: 10px;

    span {
      color: #00008b;
    }
  }

  mat-icon {
    font-size: larger;
    top: 10px !important;
  }
  mat-icon.correct {
    color: #006400 !important;
    font-weight: $font-weight-max;
  }
  mat-icon.incorrect {
    color: #ff0000 !important;
    font-weight: $font-weight-max;
  }
}

section.return {
  text-align: center;

  a.btn {
    margin-right: 15px;
    background-color: #20b2aa;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
}
