<mat-card class="animated fadeInRight delay-0.5s">
  <ng-container *ngIf="question.questionId <= numberOfQuestions">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Angular/TypeScript Codelab Quiz</mat-card-title>
      <mat-card-subtitle>
        How well do you know Angular? Take the quiz and find out!
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="stats">
          <span class="leader">Stats</span><br>
          <span class="scoreboard">{{ correctAnswerCount }}/{{ numberOfQuestions }}</span>
        </div>
        <div class="badge" *ngIf="question.questionId <= numberOfQuestions">
          Question {{ question.questionId }} of {{ numberOfQuestions }}
        </div>
        <div class="time-left">
          <span class="leader">Time</span><br>
          <span class="scoreboard">0:<span *ngIf="timeLeft < 10">0</span>{{ timeLeft }}</span>
        </div>        
      </div>

      <div class="time-expired">
        <button mat-raised-button class="time-expired-btn" 
            *ngIf="timeLeft === 0 && question.questionId !== numberOfQuestions" 
            (click)="navigateToNextQuestion()">
          <mat-icon class="timer-expired-icon" inline="true">timer</mat-icon>
          <span> Time&apos;s Up!</span>
          <span class="proceed">
            You may proceed to the next question&hellip;
          </span>
        </button>
        <button mat-raised-button class="time-expired-btn" 
            *ngIf="timeLeft === 0 && question.questionId === numberOfQuestions"
            (click)="navigateToResults()">
          <mat-icon class="timer-expired-icon" inline="true">timer</mat-icon>
          <span> Time&apos;s Up!</span>
          <span class="viewResults">
            View Your Results&hellip;
          </span>
        </button>
      </div>
      <br clear="all" />
    
      <app-question 
        [question]="question" 
        [numberOfQuestions]="numberOfQuestions"
        [formGroup]="formGroup"
        (answer)="answer($event)" 
        (score)="incrementScore($event)">
          <div id="question">{{ question.question }}</div>
      </app-question>
    </mat-card-content>    
    
    <mat-card-footer>
      <mat-card-actions>
        <div class="previousQuestionNav" *ngIf="question && question.questionId !== 1">
          <button type="button" (click)="navigateToPreviousQuestion()">
            &laquo; Previous
          </button>
        </div>
        <div class="nextQuestionNav" *ngIf="question && question.questionId !== numberOfQuestions">
          <button type="button" (click)="navigateToNextQuestion()">
            Next &raquo;
          </button>
        </div>
        <div class="viewResultsNav" *ngIf="question && question.questionId === numberOfQuestions">
          <button type="button" (click)="navigateToResults()">
            View Your Results
          </button>
        </div>
      </mat-card-actions>

      <section class="progress-bar">
        <ngb-progressbar
         *ngIf="progressValue <= 100 && question.questionId <= numberOfQuestions; else quiz_start" 
          type="success" [striped]="true" [animated]="true" [value]="progressValue">
            <strong>{{ progressValue.toFixed(0) }}%</strong>
        </ngb-progressbar>
        <ng-template #quiz_start>
          <mat-card-subtitle class="progress-note">
            Please start the quiz and view your progress here&hellip;
          </mat-card-subtitle>
        </ng-template>
      </section>
    </mat-card-footer>
  </ng-container>
</mat-card>