@font-face {
  font-family: "DjbUpOnTheScoreboard";
  src: url("../../../assets/DjbUpOnTheScoreboard.ttf") format("truetype");
}

.header-image {
  background-image: url('../../../assets/images/angular.png');
  background-size: cover;
}

.row {
  display: inline;
}
.stats {
  float: left;
  margin-left: 1rem;
}
.stats .leader {
  margin-left: 15px;
}
.badge {
  float: left;
  margin: 20px 10px 0 80px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
}
.time-left {
  float: right;
  margin-right: 1rem;
}
.time-left .leader {
  margin-left: 22.5px;
}
.scoreboard {
  display: inline-block;
  font-family: "DjbUpOnTheScoreboard";
  font-size: 30px;
  font-weight: 900;
  color: #006400;
  margin-top: -5px;
  width: auto;
}
.leader {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: -5px;
}
button.time-expired-btn {
  text-align: center;
  font-style: italic;
  color: #006400 !important;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  width: 24rem;
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}
.time-expired {
  margin-top: 50px !important;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.timer-expired-icon, .qa-icon {
  font-size: 30px !important;
  color: #9acd32;
  font-weight: 900;
}
span.proceed, span.viewResults {
  margin-top: -30px;
}

#question {
  border: 2px solid #007aff;
  padding: 5px 10px 15px 20px;
  font-family: "Space Mono", monospace;
  font-size: 30px !important;
  margin: -40px 0 10px 0.5rem;
  font-weight: 700;
  background-color: #f5f5f5;
  color: #0f0900;
  width: 38rem !important;
  height: auto;
  vertical-align: middle;
}

mat-card-footer {
  width: 40rem;
}
mat-card-actions {
  margin: -10px 0 10px 0;
}
.previousQuestionNav {
  float: left;
  margin-left: 1.5rem;
}
.nextQuestionNav {
  float: right;
  margin-right: 0.6rem;
}
.viewResultsNav {
  float: left;
  margin: 40px 0px 20px 150px !important;
}

.progress-bar {
  margin: 40px 0 10px 1.5rem;
  width: 38rem;
  height: auto;
}
.progress-note {
  color: #ffff00;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  font-style: italic;
  font-size: 20px;
  padding-top: 5px;
}
